openapi: 3.0.1
info:
  title: Grief Navigator API
  version: 1.0.0

servers:
  - url: /api

paths:
  /loss/register:
    post:
      operationId: registerLosses
      summary: Register losses
      tags:
        - Loss
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type : array
              items:
                $ref: '#/components/schemas/LossDTO'
      responses:
        '200':
          description: Loss registered successfully
        '400':
          description: Bad request

  /loss:
    get:
      operationId: getAllLosses
      summary: Get all losses for a perticular user
      tags:
        - Loss
      responses:
        '200':
          description: A list of losses
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/LossDTO'
        '500':
          description: Internal server error

  /appUser/me:
    get:
      operationId: getMyAppUser
      summary: Register a new app user
      tags:
        - AppUser        
      responses:
        '200':
          description: App user registered successfully
        '400':
          description: Bad request

components:
  schemas:
    LossDTO:
      type: object
      properties:
        type:
          $ref: "#/components/schemas/LossType"
        description:
          type: string
        difficulty:
          $ref: "#/components/schemas/DifficultyLevel"
        time:
          type: string
      required:
        - type
        - description
        - difficulty
        - time
    LossType:
      type: string
      enum:
        - RELATIONSHIP
        - THING
        - IDENTITY
    DifficultyLevel:
      type: string
      enum:
        - ZERO
        - ONE
        - TWO
        - THREE
        - FOUR